<div class= "row mt-3" >
    <div class= "col-md-9">
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @friends.each do |friend|%>
                <tr>
                    <th scope="row"><%= friend.email%></th>
                    <td><%= friend.first_name%></td>
                    <td><%= friend.last_name%></td>
                    <td><%= link_to "Unfollow", friendship_path(friend.id), method: :delete, class:"btn btn-sm btn-warning", data: {confirm: "Are you sure?"} %>
                        <%= link_to "View Profile", user_path(friend.id) ,class: "btn btn-sm btn-success mx-1" , method: :get%>

                    </td>
                </tr>
            <%end%>
        </tbody>
        </table>
    </div>
</div>