    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <%= link_to "Finance Tracker", root_path, class:"navbar-brand" %>
        <% if current_user%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item <%= 'active' if request.path == my_portfolio_path%> ">
                <%= link_to "My Portfolio", my_portfolio_path, class:"nav-link"%>
              </li>
              <li class="nav-item <%= 'active' if request.path == my_friends_path%>">
                <%= link_to "My Friends", my_friends_path, class:"nav-link"%>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Edit user", edit_user_registration_path , class: "dropdown-item" %>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto" >
              <li class="nav-item m-2">
                <%= current_user.full_name%>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, class: "btn btn-danger mx-1", method: :delete  %>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        <%end%>
      </div>
    </nav>
